#include <windows.h>

#define VERSION_NUM 2005,11,11,1
#define VERSION_STR "20051111.1"

//VS_VERSION_INFO VERSIONINFO
1 VERSIONINFO
FILEVERSION    VERSION_NUM
PRODUCTVERSION VERSION_NUM
FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
FILEFLAGS      0
FILEOS         VOS__WINDOWS32
FILETYPE       VFT_APP
FILESUBTYPE    0
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName",      "Digital Eel / LionsPhil"
			VALUE "FileDescription",  "Strange Adventures in Infinite Space (LionsPhil fork)"
			VALUE "FileVersion",      VERSION_STR
			VALUE "InternalName",     "strangelp"
			VALUE "LegalCopyright",   "Copyright Digital Eel et. al.; licensed under the terms of the GNU GPL"
			VALUE "OriginalFilename", "strangelp.exe"
			VALUE "ProductName",      "Strange Adventures in Infinite Space"
			VALUE "ProductVersion",   VERSION_STR
		END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END

2 ICON "../winicon.ico"
